<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
    <h1>Detalle de bandas</h1>
    <img src="/<%= banda.cover %>" alt="Imagen de <%= banda.nombre %>">
    <p>Nombre: <%= banda.nombre %></p>
    <p>Genero: <%= banda.genero %></p>
    <p>Integrantes: <%= banda.integrantes %></p>
    <p>Top canciones:</p>
    <ul>
        <% for (let i = 0; i < banda.topCanciones.length; i++) { %>
            <li><%= banda.topCanciones[i] %></li>
        <% } %>
    </ul>
</body>
</html>